header {
    background-image: linear-gradient(to right, #4d4dff, #0000b3, #000066);
}

header, .header {
    font-family: 'Alata', sans-serif;
}

p, .otherText {
    font-family: 'Montserrat', sans-serif;
}

button, .weeklyForecast {
    background-color: #4d4dff;
}

.badgeModerate {
    background-color: yellow;
}

.badgeGood {
    background-color: greenyellow;

}

.badgeDanger {
    background-color: red;
}